.weather-app {
  max-width: 700px;
  margin: 30px auto;
}

h1 {
  font-family: "Mate SC", serif;
  color: blue;
}

li {
  color: black;
  font-size: 20px;
  font-weight: 300;
  height: 19px;
  line-height: 1;
  margin-left: -30px;
  list-style: none;
}

.current {
  font-size: 22px;
}
.emoji {
  position: absolute;
  top: 100px;
  font-size: 22px;
  right: 0;
  width: 150px;
}

.search-bar {
  width: 300px;
  margin-left: 20px;
  display: inline-block;
  margin: 0 auto;
}
.temperature {
  font-weight: bold;
  color: black;
  font-size: 60px;
  position: relative;
  top: -30px;
}
.units {
  position: relative;
  top: -55px;
  font-size: 20px;
}
.sun-icon {
  color: yellow;
  font-size: 70px;
}
.cloud-icon {
  color: whitesmoke;
  font-size: 70px;
}
.weather {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.monday {
  margin-left: 12px;
}
.tuesday {
  margin-left: 10px;
}
.wednesday {
  margin-left: 10px;
}
.thursday {
  margin-left: 15px;
}
.friday {
  margin-left: 19px;
}
.saturday {
  margin-left: 8px;
}
.first-temp {
  margin-left: 15px;
}
.second-temp {
  margin-left: 15px;
}
.third-temp {
  margin-left: 23px;
}
.fourth-temp {
  margin-left: 28px;
}
.fifth-temp {
  margin-left: 15px;
}
.sixth-temp {
  margin-left: 15px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
